
@{
    ViewBag.Title = "PSEI - Clientes";
}

<h2>Clientes</h2>


<div id="divGrid" style="width:80%; margin:0 auto">
    @*<div id="rsperror" style="display:none;"></div>*@
    <table id="grid"></table>
    <div id="pager"></div>
</div>



<div title="Direcciones Entrega" id="gridDEDialog" class="dialog">
    <table id="gridDE"></table>
    <div id="pagerDE"></div>
</div>

@*<link href="~/Content/themes/redmon/jquery-ui.css" rel="stylesheet" />*@


@*<script src="~/Scripts/jquery.jqGrid.js"></script>*@
<script src="~/Scripts/Comun.js"></script>
<script src="~/Scripts/Cliente/Clientes.js"></script>

