@{
	ViewBag.Title = "Index";

	//var meta = Model.Bancos.FirstOrDefault();
}



<h2>Bancos</h2>
<br />

<div id="divGrid" style="width:70%; margin:0 auto">
    <div id="rsperror" style="display:none;"></div>
	<table id="grid"></table>
	<div id="pager"></div>
</div>

<script src="~/Scripts/Comun.js"></script>
<script src="~/Scripts/BootstrapMenu.js"></script>
<script src="~/Scripts/Banco/Banco.js"></script>
